<div class="routes-container">
    <div class="routes-header">
        <h2>Backtest Meta Data</h2>
    </div>

    <div class="sub-header">
        <h5>Backtest parameters</h5>
    </div>
    <div class="routes-content">
        <div class="route-item">
            <form action="/run_script" method="post">
                <select class="meta-select" id="strategy_file" name="strategy_file">
                    {% for file in strategy_files %}
                        <option value="{{ file }}">{{ file }}</option>
                    {% endfor %}
                </select>
                <select class="meta-select">
                    <option>Binance Perpetual Futures</option>
                </select>
                <select class="meta-select">
                    <option>SOL-USDT</option>
                    <option>BTC-USDT</option>
                    <option>ETH-USDT</option>
                </select>
                <select class="meta-select" id="timeframe" name="timeframe">
                    <option>1m</option>
                    <option>3m</option>
                    <option>5m</option>
                    <option>15m</option>
                    <option>30m</option>
                    <option>1h</option>
                    <option>4h</option>
                    <option>8h</option>
                    <option>1D</option>
                </select>
        </div>
    </div>

    <div class="sub-header">
        <h5>Timeline parameters</h5>
    </div>
    <div class="routes-content">
        <div class="route-item">
            <div class="inline-fields">
                <label for="start_date" class="route-label">Start Date:</label>
                <input type="date" id="start_date" name="start_date" class="route-input" value="2024-07-01" required>
                <label for="end_date" class="route-label">End Date:</label>
                <input type="date" id="end_date" name="end_date" class="route-input" value="2024-07-08" required>
            </div>
            <button type="submit" class="submit-button">Run Script</button>
            </form>
        </div>
    </div>
</div>
<style>
    .routes-container {
        margin: 20px;
    }
    .routes-header, .sub-header {
        margin-bottom: 10px;
    }
    .routes-content {
        margin-bottom: 20px;
    }
    .route-item {
        display: flex;
        flex-direction: column;
    }
    .meta-select, .route-input {
        margin-bottom: 10px;
    }
    .route-label {
        margin-right: 10px;
    }
    .submit-button {
        width: 150px;
    }
</style>
