<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FutureProof</title>
</head>
<body>
    <div class="container">

        {% include 'backtest.html' %}

        {% if plot_div %}
            <div class="alert">
                Successfully executed backtest simulation.
            </div>
            
            <div class="hyperparameters">
                <div class="section-title">Hyperparameters</div>
            </div>
            
            <div class="metrics">
                <div class="section-title">Metrics</div>
                <p>Total Trades: {{ metrics.total_trades }}</p>
                <p>Total Longs: {{ metrics.total_longs }}</p>
                <p>Total Shorts: {{ metrics.total_shorts }}</p>
                <p>End Balance: {{ metrics.end_balance }}</p>
            </div>
            
            <div class="plot">
                {{ plot_div|safe }}
            </div>
        {% endif %}
    </div>
</body>
</html>
